<div id="calendar-container">
  <h1>Events Calendar</h1>

    <div id='calendar-form'>
      <%= render partial: 'new_event', locals: { event: @event } %>
    </div>

  <div id="calendar"></div>
</div>
